.profile-container {
    width: 100%;
    padding: 5em;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.basic-profile {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.basic-profile a {
    color: #ccc !important;
}

.basic-profile a:hover {
    color: #fff !important;
    transition: all ease-in .2s;
}

.profile-photo {
    margin: 10px 0px;
    width: 170px;
    height: 170px;
    background-color: #ffffff9c;
    border-radius: 50%;
    position: relative;
}

.profile-photo::before,
.profile-photo::after {
    content: '';
    background-color: #959393;
    position: absolute;
    z-index: 1;
    /* Asegura que los pseudo-elementos estén por debajo de la imagen */
}

.profile-photo::before {
    content: 'Sin Foto';
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    top: 20%;
    left: 25%;
}

.profile-photo::after {
    content: '';
    width: 60%;
    height: 25%;
    border-radius: 50%;
    position: absolute;
    bottom: 2%;
    left: 20%;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    /* Asegura que la imagen cubra el contenedor sin distorsionarse */
    display: none;
    /* Ocultar por defecto */
    z-index: 2;
    /* Asegura que la imagen esté por encima de los pseudo-elementos */
    position: relative;
    /* Necesario para que z-index funcione */
}

.profile-photo img[src] {
    display: block;
    /* Mostrar solo si hay un src */
}

.profile-photo>img[src]+after {
    display: none;
    /* Ocultar el texto cuando hay una imagen */
}

.profile-photo:hover {
    background-color: #4b4350;
    cursor: pointer;
    transition: all ease-in-out 1s;
}

.info-profile {
    margin-bottom: 2px;
    width: 45%;
    height: 3em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: #41e86e;
}

.tag-events {
    width: 50%;
    height: 100%;
    padding: 15px;
    background-color: #1f1f1f;
    text-align: center;
    cursor: pointer;
}

.selected {
    height: 95.5%;
}

.tag-events:hover {
    height: 99.5%;
}

#user-events {
    width: 100%;
}

.table {
    position: relative;
    margin: 10px 0px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
    font-size: .9em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    user-select: none;
}

.thead-dark {
    background-color: rgb(35, 35, 35);
    color: #fff;
}

.table tbody tr:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .075) !important;
    transition: .32s ease-in-out;
}

.table th,
.table td {
    padding: 9px;
    border: 1px solid #ccc;
}

.table tbody tr .user-to-edit {
    padding: 5px;
    margin: auto;
    width: 80%;
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background-color: #25d9a0;
    border: 1px solid #25d9a0;
    border-radius: .2rem;
}

.table tbody tr button:hover {
    background-color: #21c994;
    border: 1px solid #21c994;
    transition: .32s ease-in-out;
}

table .advice-events {
    position: absolute;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: #00000000;
    color: #fff;
}


/* .table tbody tr:nth-of-type(odd){
    background-color: #bcbcbc;
}

.table tbody tr:nth-of-type(odd) td {
    border: 1px solid #fff;
} */

@media (max-width: 850px) {
    .info-profile {
        width: 100%;
    }
}